/*
CSS for the Obsidian plugin.
*/

.p2p-cursor-caret {
    position: relative;
    border-left: 2px solid;
    margin-left: -1px;
    margin-right: -1px;
    display: inline-block;
    height: 100%;
    min-height: 1.2em;
    vertical-align: middle;
    z-index: 99;
    pointer-events: auto;
}

.p2p-cursor-name {
    position: absolute;
    top: -1.2em;
    left: -1px;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 10px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
    z-index: 100;
    pointer-events: none;
    font-family: inherit;
}

.p2p-cursor-caret:hover .p2p-cursor-name {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}